<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <!--<add key="appKey" value="XX1Tw7uleUxzkubRMzDacj6I40Flcn9j27QRYIA0Bd4"/>
    <add key="appSecret" value="xNhLFaignXGPwlpS96efKnAPuMpEOWLJNos4SLtS0cxl0z5GSu"/>-->
    <add key="appKey" value="zSAkeeGatLP8NEm1V5geBKNu8ZE2Fa7bDILRQCxW81h"/>
    <add key="appSecret" value="kNZ0uouS8JYqJ0MXdG2HvcePUVAVrK7CMZop1bxhSvY"/>
    <!--<add key="appKey" value="URWBH8A7G4JtJZthN1qmhYHd7NehFGLs0nRT2uqcVni"/>
    <add key="appSecret" value="00zqi9zIMJxcKhE3GdpwiKGNHyTEM3MAQWSLneT8kkXrghi8Pi"/>-->
  </appSettings>
  <!--
    For a description of web.config changes see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.8" />
      </system.Web>
  -->
  <system.web>
    <compilation debug="true" targetFramework="4.8"/>
    <httpRuntime targetFramework="4.8"/>
  </system.web>
</configuration>