<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="appKey" value="XX1Tw7uleUxzkubRMzDacj6I40Flcn9j27QRYIA0Bd4"/>
    <add key="appSecret" value="xNhLFaignXGPwlpS96efKnAPuMpEOWLJNos4SLtS0cxl0z5GSu"/>
    <!--<add key="appKey" value="zSAkeeGatLP8NEm1V5geBKNu8ZE2Fa7bDILRQCxW81h"/>
    <add key="appSecret" value="kNZ0uouS8JYqJ0MXdG2HvcePUVAVrK7CMZop1bxhSvY"/>-->
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
